<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>AM309 Gallery</h1>
  <div>
    <% images.forEach(function(image) { %>
      <div style='float: left'>
        <img src='<%=image%>' style='width:200px'/>
      </div>
    <% }) %>
  </div>
</body>
</html>
